


body{
  font-size: 1rem!important;
  font-family: 'Karla', sans-serif!important;
}

body a{
  font-size: 1rem!important;
}

h1, h2,  .h1, .h2{
  font-family: 'Rubik', sans-serif!important;
  color:#22252a!important; 
  font-size: 1.5rem;
}

h3, h4, h5, .h3, .h4, .h5{
  font-family: 'Karla', sans-serif!important;
  font-size: 1.2rem!important;
}

header{
  background-color: #efefef;
}



#quem-somos{
  background-color:#22252a;
}

#sumir a{
  font-size: 2rem!important;
}


.site-navbar .site-navigation .site-menu>li>a {
  color:#22252a!important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color:#f762ab!important;
}

.site-navbar .site-navigation .site-menu>.doacoes-menu>a {
  background-color: #e76321;
  padding: 5px!important;
  border-radius: 5px;
  transition: 0.3s;
  color:#efefef!important;

}

.site-navbar .site-navigation .site-menu>.doacoes-menu>a:hover {
  padding: 6px!important;
  font-size: 1.1rem!important;
  font-weight: 600;
  color:#efefef!important;
}


.text-cursive{
  font-family: 'Rubik', sans-serif!important;
  font-weight: 600;
}

.box-92819{
  width: 1200px;
  max-width: 1200px;
}

.box-92819 h1{
  font-family: 'Rubik', sans-serif!important;
  margin-bottom: 20rem;
  font-size: 4rem;
}

.site-menu-toggle span{
  font-family: 'icomoon' !important;
  color:#21323b!important;
}

.h4, h4{
font-size: 20px!important;
}


.contato-conosco img{
height: 400px!important;
}


.feature-29012 p{
font-size: 1.5rem!important;
}

.site-footer{
padding: 2em 0;
background-color: #22252a!important;
}



.site-footer a,.site-footer h2{
  font-size: 1.5rem!important;
}

.site-footer a,.site-footer h2,.site-footer p{
color:#efefef!important;
}

.site-footer span:hover{
transition: 0.2s;
color: #efefef;
}

.icon-instagram {
color: #22252a!important;
background-color: white;
border-radius: 50px;
padding: 20px 20px;
}

.icon-instagram:hover{
color: #efefef!important;
background-color: #f762ab;
}

.icon-facebook {
  color: #22252a!important;
  background-color: white;
  border-radius: 50px;
  padding: 20px 25px;
}

.icon-facebook:hover{
  color: #efefef!important;
  background-color: #f762ab;
}

.logos-box{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.logos-box img{
  width: 150px;
  height: auto;
  margin-right: 10px;
}

#sumir{
display: none;
}

.site-logo a{
  text-transform: capitalize;
}

.site-logo img{
    width: 150px;
}

.color-blue-logo{
    border: 2px solid #5487da;
    background-color: #5487da;
}

.color-blue-logo:hover{
    border: 2px solid #41649e;
    background-color: #41649e;
}

.arrecadores{
    background-color: #efefef;
}


.feature-29012 .number span{
    font-size: 25px;
}

.feature-29012 .number{
    border-radius: 20px;
    background-color: #22252a;
    transition: 0.8s;
    flex: 0 0 40px;
    height: 40px;
}

.feature-29012 .number:hover {
    cursor: pointer!important;
    background-color: #6b6b6b;
}

#quem-somos-id-unico {
    clear:both!important;
}


.arrecadacoes-box{
    padding: 4rem 0 0!important;
}

.arrecadacoes-box .badge-primary{
    background-color:#64c0ce;
}


.progress-bar{
    background-color: #ff9f00;
}

.site-navbar{
    position: sticky;
}


.copyleft {
  font: 24px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}



.processo-fundo.overlay:after{
  background: rgba(241, 148, 27, 0.6);
}



.arrecadacoes-box.overlay:after{
  background: #efefef;
}

.deposito-box.overlay:after{
  background: #efefef;
}

.deposito-box .box-cadastro{
  position: relative;
}

.deposito-box .box-cadastro img{
  position: absolute;
  width: 60px;
  right: 50px;
}



/* BOTAO PRO TOPO */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #eb7942; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 0.4s;
  }
  
  #myBtn:hover {
    background-color: #e76321; /* Add a dark-grey background on hover */
  }

  
/* CONTATO */


.contato-container{
    background-image: url('../images/fundos/FUNDO_02_TRANSPARENTE.png');
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;
}


.whatsapp:hover{
    color:#25d366;
}


.box-cadastro{
  border: 2px solid #dadada;
  border-radius: 5px;
  margin: 5px;
  padding: 25px 15px;
  transition: 0.4s;
}

.box-cadastro:hover{
  border: 4px solid #5487da;
  cursor: pointer;
}

.box-cadastro p{
  margin-bottom: 10px;
}

.box-cadastro a{
  font-size: 2rem;
}

.ongs-cadastro{
  background-color: #efefef!important;
  background-size: 500px;
}

.ongs-cadastro.overlay:after{
  background: rgba(239,239,239, 0.9)!important;
}

.progress{
  height: 3rem!important;
}


/* MEDIA QUERIES */


@media (max-width: 992px) {
  .box-92819{
    width: 900px;
  }
  .deposito-box .box-cadastro img{
    position: relative;
    right: 0;
  }
  .deposito-box .box-cadastro .d-flex{
    flex-wrap: wrap;
  }
}
  
@media (max-width: 768px) {
    .deposito-box .box-cadastro img{
      display: none;
    }
    .owl-carousel-wrapper {
      height: 80vh;
    }
    .logos-box{
      flex-wrap: wrap;
    }
    .logos-box .box{
      width: 50%;
      text-align: center;
      flex-shrink: 0;
    }

    .box-92819{
      width: 600px;
    }

    .box-92819 h1{
      font-size: 4rem;
      margin-bottom: 3rem;

    }
  
    .hashtags-container{
      display: none;
    }

    .quem-somos-texto{
      padding-top: 15rem;
    }



    .cadastros-section{
      flex-wrap: wrap;
    }
    .box-cadastro{
      width: 100%!important;
    }
    .btn.btn-primary{
      width: 100%;
    }
  
  }
  
  @media (max-width: 480px) {
    .box-92819{
      width: 380px;
    }

    .box-92819 h1{
      font-size: 3rem;
      margin-bottom: 3rem;

    }
   
    .logos-box .box{
      margin: 15px 0;
      width: 100%;
  
    }
    
    #sumir{
      display: block;
    }
    .cestas-basicas{
      display:none;
    }
  
  }

@media (max-width: 360px) {
  .box-92819{
    width: 320px;
  }
 

}